<div class="doc-content top">
  <div class="dc-page">
    <div class="dc-card">
			<div id="react-search-results-root"></div>
      <div id="page-content" class="doc-formatting">
        <%- page.content %>
        <div id="react-support-footer-root"></div>
			</div>
			<div id="top-page-menu">
				<%- show_top_menu() %>
			</div>
    </div>
  </div>
</div>
